node_modules

out/
*.exe*
*.dll*
*.pdb*
*.ilk*
*.obj*
*.lib*
*.exp*
*.manifest*
*.rsp*
*.sbr*
*.manifest*
*.pdb*
*.idb*
*.ipch
*.ncb
*.opt
*.opensdf
*.pch
*.sdf
*.tlh
*.tli
*.tlh
*.tli
*.cache
*.suo
*.user
*.opensdf
*.opensdf